* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vw;
  text-align: center;
}

header {
  background: lightgreen;
  padding: 0.8rem;
  margin-bottom: 03rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 0.3rem;
}

header nav input {
  padding: 0.7rem;
}

main {
  padding: 0 10vw;
}

main button {
  float: right;
  padding: 3vh;
  margin: 3vw 0;
}

main section {
  margin: 8rem 0;
}

main h2 {
  text-align: left;
}

main section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section div img {
  height: 50vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2.5rem;
}

main section div .personalContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

main .containerProjects {
  padding: 1vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .containerProjects h2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .containerProjects img {
  height: 30vh;
}

main .containerProjects .dropdown {
  margin-top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main section #moreProj {
  float: right;
  margin-top: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #exp ul li {
  list-style-type: none;
}

main #exp .expEl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #exp .expEl span {
  padding: 4vw;
  margin: 3vh;
  text-align: left;
}

main #exp .expEl span p {
  margin: 3vw 0;
}

main #exp .expEl span h4 {
  opacity: 0.5;
}

main #exp .expEl img {
  margin: 2vw;
  height: 25vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #repo article {
  height: 40vh;
  width: 45vh;
  text-align: justify;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.6rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #repo article img {
  margin: 0.7vw;
  height: 8vh;
}

main #repo article h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main #repo button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  background: lightgreen;
  padding: 3rem;
}
/*# sourceMappingURL=main.css.map */