* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vw;
  text-align: center;
}

header {
  background: lightgreen;
  padding: 0.8rem;
  margin-bottom: 03rem;
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      text-decoration: none;
      padding: 0.3rem;
    }
    input {
      padding: 0.7rem;
    }
  }
}

main {
  section {
    margin: 8rem 0;
  }
  padding: 0 10vw;
  h2 {
    text-align: left;
  }
  section div {
    display: flex;
    img {
      height: 50vh;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 2.5rem;
    }
    .personalContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
    }
  }

  .containerProjects {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      justify-content: flex-start;
    }
    img {
      height: 30vh;
    }
  }
  button {
    text-align: right;
  }
}

footer {
  background: lightgreen;
  padding: 3rem;
}
