* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vw;
  text-align: center;
}

header {
  background: lightgreen;
  padding: 0.8rem;
  margin-bottom: 03rem;
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      text-decoration: none;
      padding: 0.3rem;
    }
    input {
      padding: 0.7rem;
    }
  }
}

main {
  button {
    float: right;
    padding: 3vh;
    margin: 3vw 0;
  }
  section {
    margin: 8rem 0;
  }
  padding: 0 10vw;
  h2 {
    text-align: left;
  }
  section div {
    display: flex;
    img {
      height: 50vh;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 2.5rem;
    }
    .personalContainer {
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      #socialContainer {
        .socialImg {
          height: 5vh;
          margin: 1rem;
        }
      }
    }
  }

  .containerProjects {
    padding: 1vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      justify-content: flex-start;
    }
    img {
      height: 30vh;
    }
    .dropdown {
      margin-top: 0;
      justify-content: flex-end;
    }
  }
  section #moreProj {
    float: right;
    margin-top: 1rem;
    justify-content: flex-end;
  }

  #exp {
    ul li {
      list-style-type: none;
    }
    .expEl {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      span {
        padding: 4vw;
        text-align: left;
        p {
          margin: 3vw 0;
        }
        h4 {
          opacity: 0.5;
        }
      }
      .expImg {
        height: 25vh;
        justify-content: flex-start;
      }
    }
  }

  #repo {
    #repoAll {
      display: inline-flex;
      .repoUnit {
        display: flex;
        height: 40vh;
        width: 55vh;
        text-align: justify;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.5rem;
        .repoImg {
          margin: 1rem;
          height: 8vh;
        }

        .repoDesc {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin: 1rem;
          p {
            margin: 0.5rem 0;
          }
        }
      }

      button {
        align-self: flex-end;
      }
    }
  }

  #conteudo {
    #conteudoContainer {
      margin: 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: space-around;

      .conteudoUnit {
        width: 20rem;
        p {
          text-align: left;
          padding: 1rem 0;
        }
      }
    }
  }
}

footer {
  background: lightgreen;
  padding: 3rem;
}
